In [48]:
import pandas as pd
df = pd.read_csv("owid-covid-data.csv")

In [49]:
# Kept last row of the Country's info because it is more recent and had less empty cells
df = df.drop_duplicates(subset="location", keep='last', inplace=False)

In [50]:
# Dropped a ton of columns I didnt feel added anything to what this dataset was looking at, namely Economic, Health and Age related stuff.
df = df.drop(["new_cases_smoothed", "new_deaths", "new_deaths_smoothed", "new_cases_per_million", "new_cases_smoothed_per_million", "new_deaths_per_million", "new_deaths_smoothed_per_million", 
         "reproduction_rate", "icu_patients", "icu_patients_per_million", "hosp_patients", "hosp_patients_per_million", "weekly_icu_admissions",	"weekly_icu_admissions_per_million",	
         "weekly_hosp_admissions", "weekly_hosp_admissions_per_million",	"new_tests",	"total_tests",	"total_tests_per_thousand",	"new_tests_per_thousand",	"new_tests_smoothed",	
         "new_tests_smoothed_per_thousand", "positive_rate"	, "tests_per_case", "tests_units", "total_vaccinations",	"people_vaccinated",	"people_fully_vaccinated", 	"new_vaccinations", 
         "new_vaccinations_smoothed", "total_vaccinations_per_hundred", "people_vaccinated_per_hundred",	"people_fully_vaccinated_per_hundred",	"new_vaccinations_smoothed_per_million"], 1)

In [51]:
df.to_csv("Deaths_csv_cleaned.csv")

In [52]:
df

       iso_code continent  ... life_expectancy human_development_index
443         AFG      Asia  ...           64.83                   0.511
898    OWID_AFR       NaN  ...             NaN                     NaN
1341        ALB    Europe  ...           78.57                   0.795
1784        DZA    Africa  ...           76.88                   0.748
2221        AND    Europe  ...           83.73                   0.868
...         ...       ...  ...             ...                     ...
86224       WLF   Oceania  ...           79.94                     NaN
86701  OWID_WRL       NaN  ...           72.58                   0.737
87099       YEM      Asia  ...           66.12                   0.470
87520       ZMB    Africa  ...           63.89                   0.584
87939       ZWE    Africa  ...           61.49                   0.571

[223 rows x 25 columns]