In [2]:
import pandas as pd
df1 = pd.read_csv("Food_Supply_Quantity_kg_Data.csv")
df2 = pd.read_csv("Deaths_csv_cleaned.csv")

In [9]:
# Deaths_csv_cleaned.csv had the Country column as "location". Renaming the column to Country to fit the Food_Supply .csv

df2_renamed = df2.rename(columns={'location': 'Country'}, inplace=False)
df2_renamed.head()

   Unnamed: 0  iso_code  ... life_expectancy human_development_index
0         443       AFG  ...           64.83                   0.511
1         898  OWID_AFR  ...             NaN                     NaN
2        1341       ALB  ...           78.57                   0.795
3        1784       DZA  ...           76.88                   0.748
4        2221       AND  ...           83.73                   0.868

[5 rows x 26 columns]

In [8]:
df1.head()

               Country  ...  Unit (all except Population)
0          Afghanistan  ...                             %
1              Albania  ...                             %
2              Algeria  ...                             %
3               Angola  ...                             %
4  Antigua and Barbuda  ...                             %

[5 rows x 32 columns]

In [15]:
merged_df = df2_renamed.merge(df1, how="inner", on = ['Country'])
merged_df.head()

   Unnamed: 0 iso_code  ...  Population Unit (all except Population)
0         443      AFG  ...  38928000.0                            %
1        1341      ALB  ...   2838000.0                            %
2        1784      DZA  ...  44357000.0                            %
3        2640      AGO  ...  32522000.0                            %
4        3144      ATG  ...     98000.0                            %

[5 rows x 57 columns]

In [19]:
len(df1.index), len(df2.index), len(df2_renamed.index), len(merged_df.index)

(170, 223, 223, 156)

In [16]:
merged_df.to_csv("Merged.csv")